button {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: rgba(0, 0, 0, 0.712);
    color: white;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

#keys {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px
    padding: 25px;
}